/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

canvas.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Utilities

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

utilities/mixin-colors.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Lighten and Darken Colors

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

utilities/mixin-grid.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Container (Fixed)

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Row

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Columns

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Mini Column
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Small Column
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Medium Column
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Large Column
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

utilities/mixin-grid-framework.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Columns

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Float Grid Columns
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Calculate Grid Columns
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Make Grid Columns
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Variables

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

variables.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Colors

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Grayscale
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Social Networks
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Layout

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Screen Sizes
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
Grid
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Layout

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

layout/grid.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Fixed Container

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Fluid Container

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Row

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
.row {
  margin-left: -10px;
  margin-right: -10px;
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Columns

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
.column-1, .column-mini-1, .column-small-1, .column-medium-1, .column-large-1, .column-2, .column-mini-2, .column-small-2, .column-medium-2, .column-large-2, .column-3, .column-mini-3, .column-small-3, .column-medium-3, .column-large-3, .column-4, .column-mini-4, .column-small-4, .column-medium-4, .column-large-4, .column-5, .column-mini-5, .column-small-5, .column-medium-5, .column-large-5, .column-6, .column-mini-6, .column-small-6, .column-medium-6, .column-large-6, .column-7, .column-mini-7, .column-small-7, .column-medium-7, .column-large-7, .column-8, .column-mini-8, .column-small-8, .column-medium-8, .column-large-8, .column-9, .column-mini-9, .column-small-9, .column-medium-9, .column-large-9, .column-10, .column-mini-10, .column-small-10, .column-medium-10, .column-large-10, .column-11, .column-mini-11, .column-small-11, .column-medium-11, .column-large-11, .column-12, .column-mini-12, .column-small-12, .column-medium-12, .column-large-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Grid

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
  float: left;
}
.column-12 {
  width: 100%;
}
.column-11 {
  width: 91.66666667%;
}
.column-10 {
  width: 83.33333333%;
}
.column-9 {
  width: 75%;
}
.column-8 {
  width: 66.66666667%;
}
.column-7 {
  width: 58.33333333%;
}
.column-6 {
  width: 50%;
}
.column-5 {
  width: 41.66666667%;
}
.column-4 {
  width: 33.33333333%;
}
.column-3 {
  width: 25%;
}
.column-2 {
  width: 16.66666667%;
}
.column-1 {
  width: 8.33333333%;
}
.column-pull-12 {
  right: 100%;
}
.column-pull-11 {
  right: 91.66666667%;
}
.column-pull-10 {
  right: 83.33333333%;
}
.column-pull-9 {
  right: 75%;
}
.column-pull-8 {
  right: 66.66666667%;
}
.column-pull-7 {
  right: 58.33333333%;
}
.column-pull-6 {
  right: 50%;
}
.column-pull-5 {
  right: 41.66666667%;
}
.column-pull-4 {
  right: 33.33333333%;
}
.column-pull-3 {
  right: 25%;
}
.column-pull-2 {
  right: 16.66666667%;
}
.column-pull-1 {
  right: 8.33333333%;
}
.column-pull-0 {
  right: auto;
}
.column-push-12 {
  left: 100%;
}
.column-push-11 {
  left: 91.66666667%;
}
.column-push-10 {
  left: 83.33333333%;
}
.column-push-9 {
  left: 75%;
}
.column-push-8 {
  left: 66.66666667%;
}
.column-push-7 {
  left: 58.33333333%;
}
.column-push-6 {
  left: 50%;
}
.column-push-5 {
  left: 41.66666667%;
}
.column-push-4 {
  left: 33.33333333%;
}
.column-push-3 {
  left: 25%;
}
.column-push-2 {
  left: 16.66666667%;
}
.column-push-1 {
  left: 8.33333333%;
}
.column-push-0 {
  left: auto;
}
.column-offset-12 {
  margin-left: 100%;
}
.column-offset-11 {
  margin-left: 91.66666667%;
}
.column-offset-10 {
  margin-left: 83.33333333%;
}
.column-offset-9 {
  margin-left: 75%;
}
.column-offset-8 {
  margin-left: 66.66666667%;
}
.column-offset-7 {
  margin-left: 58.33333333%;
}
.column-offset-6 {
  margin-left: 50%;
}
.column-offset-5 {
  margin-left: 41.66666667%;
}
.column-offset-4 {
  margin-left: 33.33333333%;
}
.column-offset-3 {
  margin-left: 25%;
}
.column-offset-2 {
  margin-left: 16.66666667%;
}
.column-offset-1 {
  margin-left: 8.33333333%;
}
.column-offset-0 {
  margin-left: 0%;
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Screen Size: Mini (@screen-mini) and above

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
@media (min-width: 480px) {
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .container {
    width: 100%;
  }
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .column-1, .column-mini-2, .column-mini-3, .column-mini-4, .column-mini-5, .column-mini-6, .column-mini-7, .column-mini-8, .column-mini-9, .column-mini-10, .column-mini-11, .column-mini-12 {
    float: left;
  }
  .column-mini-12 {
    width: 100%;
  }
  .column-mini-11 {
    width: 91.66666667%;
  }
  .column-mini-10 {
    width: 83.33333333%;
  }
  .column-mini-9 {
    width: 75%;
  }
  .column-mini-8 {
    width: 66.66666667%;
  }
  .column-mini-7 {
    width: 58.33333333%;
  }
  .column-mini-6 {
    width: 50%;
  }
  .column-mini-5 {
    width: 41.66666667%;
  }
  .column-mini-4 {
    width: 33.33333333%;
  }
  .column-mini-3 {
    width: 25%;
  }
  .column-mini-2 {
    width: 16.66666667%;
  }
  .column-mini-1 {
    width: 8.33333333%;
  }
  .column-mini-pull-12 {
    right: 100%;
  }
  .column-mini-pull-11 {
    right: 91.66666667%;
  }
  .column-mini-pull-10 {
    right: 83.33333333%;
  }
  .column-mini-pull-9 {
    right: 75%;
  }
  .column-mini-pull-8 {
    right: 66.66666667%;
  }
  .column-mini-pull-7 {
    right: 58.33333333%;
  }
  .column-mini-pull-6 {
    right: 50%;
  }
  .column-mini-pull-5 {
    right: 41.66666667%;
  }
  .column-mini-pull-4 {
    right: 33.33333333%;
  }
  .column-mini-pull-3 {
    right: 25%;
  }
  .column-mini-pull-2 {
    right: 16.66666667%;
  }
  .column-mini-pull-1 {
    right: 8.33333333%;
  }
  .column-mini-pull-0 {
    right: auto;
  }
  .column-mini-push-12 {
    left: 100%;
  }
  .column-mini-push-11 {
    left: 91.66666667%;
  }
  .column-mini-push-10 {
    left: 83.33333333%;
  }
  .column-mini-push-9 {
    left: 75%;
  }
  .column-mini-push-8 {
    left: 66.66666667%;
  }
  .column-mini-push-7 {
    left: 58.33333333%;
  }
  .column-mini-push-6 {
    left: 50%;
  }
  .column-mini-push-5 {
    left: 41.66666667%;
  }
  .column-mini-push-4 {
    left: 33.33333333%;
  }
  .column-mini-push-3 {
    left: 25%;
  }
  .column-mini-push-2 {
    left: 16.66666667%;
  }
  .column-mini-push-1 {
    left: 8.33333333%;
  }
  .column-mini-push-0 {
    left: auto;
  }
  .column-mini-offset-12 {
    margin-left: 100%;
  }
  .column-mini-offset-11 {
    margin-left: 91.66666667%;
  }
  .column-mini-offset-10 {
    margin-left: 83.33333333%;
  }
  .column-mini-offset-9 {
    margin-left: 75%;
  }
  .column-mini-offset-8 {
    margin-left: 66.66666667%;
  }
  .column-mini-offset-7 {
    margin-left: 58.33333333%;
  }
  .column-mini-offset-6 {
    margin-left: 50%;
  }
  .column-mini-offset-5 {
    margin-left: 41.66666667%;
  }
  .column-mini-offset-4 {
    margin-left: 33.33333333%;
  }
  .column-mini-offset-3 {
    margin-left: 25%;
  }
  .column-mini-offset-2 {
    margin-left: 16.66666667%;
  }
  .column-mini-offset-1 {
    margin-left: 8.33333333%;
  }
  .column-mini-offset-0 {
    margin-left: 0%;
  }
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Screen Size: Small (@screen-small) and above

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
@media (min-width: 768px) {
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .container {
    width: 730px;
  }
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .column-1, .column-small-2, .column-small-3, .column-small-4, .column-small-5, .column-small-6, .column-small-7, .column-small-8, .column-small-9, .column-small-10, .column-small-11, .column-small-12 {
    float: left;
  }
  .column-small-12 {
    width: 100%;
  }
  .column-small-11 {
    width: 91.66666667%;
  }
  .column-small-10 {
    width: 83.33333333%;
  }
  .column-small-9 {
    width: 75%;
  }
  .column-small-8 {
    width: 66.66666667%;
  }
  .column-small-7 {
    width: 58.33333333%;
  }
  .column-small-6 {
    width: 50%;
  }
  .column-small-5 {
    width: 41.66666667%;
  }
  .column-small-4 {
    width: 33.33333333%;
  }
  .column-small-3 {
    width: 25%;
  }
  .column-small-2 {
    width: 16.66666667%;
  }
  .column-small-1 {
    width: 8.33333333%;
  }
  .column-small-pull-12 {
    right: 100%;
  }
  .column-small-pull-11 {
    right: 91.66666667%;
  }
  .column-small-pull-10 {
    right: 83.33333333%;
  }
  .column-small-pull-9 {
    right: 75%;
  }
  .column-small-pull-8 {
    right: 66.66666667%;
  }
  .column-small-pull-7 {
    right: 58.33333333%;
  }
  .column-small-pull-6 {
    right: 50%;
  }
  .column-small-pull-5 {
    right: 41.66666667%;
  }
  .column-small-pull-4 {
    right: 33.33333333%;
  }
  .column-small-pull-3 {
    right: 25%;
  }
  .column-small-pull-2 {
    right: 16.66666667%;
  }
  .column-small-pull-1 {
    right: 8.33333333%;
  }
  .column-small-pull-0 {
    right: auto;
  }
  .column-small-push-12 {
    left: 100%;
  }
  .column-small-push-11 {
    left: 91.66666667%;
  }
  .column-small-push-10 {
    left: 83.33333333%;
  }
  .column-small-push-9 {
    left: 75%;
  }
  .column-small-push-8 {
    left: 66.66666667%;
  }
  .column-small-push-7 {
    left: 58.33333333%;
  }
  .column-small-push-6 {
    left: 50%;
  }
  .column-small-push-5 {
    left: 41.66666667%;
  }
  .column-small-push-4 {
    left: 33.33333333%;
  }
  .column-small-push-3 {
    left: 25%;
  }
  .column-small-push-2 {
    left: 16.66666667%;
  }
  .column-small-push-1 {
    left: 8.33333333%;
  }
  .column-small-push-0 {
    left: auto;
  }
  .column-small-offset-12 {
    margin-left: 100%;
  }
  .column-small-offset-11 {
    margin-left: 91.66666667%;
  }
  .column-small-offset-10 {
    margin-left: 83.33333333%;
  }
  .column-small-offset-9 {
    margin-left: 75%;
  }
  .column-small-offset-8 {
    margin-left: 66.66666667%;
  }
  .column-small-offset-7 {
    margin-left: 58.33333333%;
  }
  .column-small-offset-6 {
    margin-left: 50%;
  }
  .column-small-offset-5 {
    margin-left: 41.66666667%;
  }
  .column-small-offset-4 {
    margin-left: 33.33333333%;
  }
  .column-small-offset-3 {
    margin-left: 25%;
  }
  .column-small-offset-2 {
    margin-left: 16.66666667%;
  }
  .column-small-offset-1 {
    margin-left: 8.33333333%;
  }
  .column-small-offset-0 {
    margin-left: 0%;
  }
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Screen Size: Medium (@screen-medium) and above

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .container {
    width: 920px;
  }
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .column-1, .column-medium-2, .column-medium-3, .column-medium-4, .column-medium-5, .column-medium-6, .column-medium-7, .column-medium-8, .column-medium-9, .column-medium-10, .column-medium-11, .column-medium-12 {
    float: left;
  }
  .column-medium-12 {
    width: 100%;
  }
  .column-medium-11 {
    width: 91.66666667%;
  }
  .column-medium-10 {
    width: 83.33333333%;
  }
  .column-medium-9 {
    width: 75%;
  }
  .column-medium-8 {
    width: 66.66666667%;
  }
  .column-medium-7 {
    width: 58.33333333%;
  }
  .column-medium-6 {
    width: 50%;
  }
  .column-medium-5 {
    width: 41.66666667%;
  }
  .column-medium-4 {
    width: 33.33333333%;
  }
  .column-medium-3 {
    width: 25%;
  }
  .column-medium-2 {
    width: 16.66666667%;
  }
  .column-medium-1 {
    width: 8.33333333%;
  }
  .column-medium-pull-12 {
    right: 100%;
  }
  .column-medium-pull-11 {
    right: 91.66666667%;
  }
  .column-medium-pull-10 {
    right: 83.33333333%;
  }
  .column-medium-pull-9 {
    right: 75%;
  }
  .column-medium-pull-8 {
    right: 66.66666667%;
  }
  .column-medium-pull-7 {
    right: 58.33333333%;
  }
  .column-medium-pull-6 {
    right: 50%;
  }
  .column-medium-pull-5 {
    right: 41.66666667%;
  }
  .column-medium-pull-4 {
    right: 33.33333333%;
  }
  .column-medium-pull-3 {
    right: 25%;
  }
  .column-medium-pull-2 {
    right: 16.66666667%;
  }
  .column-medium-pull-1 {
    right: 8.33333333%;
  }
  .column-medium-pull-0 {
    right: auto;
  }
  .column-medium-push-12 {
    left: 100%;
  }
  .column-medium-push-11 {
    left: 91.66666667%;
  }
  .column-medium-push-10 {
    left: 83.33333333%;
  }
  .column-medium-push-9 {
    left: 75%;
  }
  .column-medium-push-8 {
    left: 66.66666667%;
  }
  .column-medium-push-7 {
    left: 58.33333333%;
  }
  .column-medium-push-6 {
    left: 50%;
  }
  .column-medium-push-5 {
    left: 41.66666667%;
  }
  .column-medium-push-4 {
    left: 33.33333333%;
  }
  .column-medium-push-3 {
    left: 25%;
  }
  .column-medium-push-2 {
    left: 16.66666667%;
  }
  .column-medium-push-1 {
    left: 8.33333333%;
  }
  .column-medium-push-0 {
    left: auto;
  }
  .column-medium-offset-12 {
    margin-left: 100%;
  }
  .column-medium-offset-11 {
    margin-left: 91.66666667%;
  }
  .column-medium-offset-10 {
    margin-left: 83.33333333%;
  }
  .column-medium-offset-9 {
    margin-left: 75%;
  }
  .column-medium-offset-8 {
    margin-left: 66.66666667%;
  }
  .column-medium-offset-7 {
    margin-left: 58.33333333%;
  }
  .column-medium-offset-6 {
    margin-left: 50%;
  }
  .column-medium-offset-5 {
    margin-left: 41.66666667%;
  }
  .column-medium-offset-4 {
    margin-left: 33.33333333%;
  }
  .column-medium-offset-3 {
    margin-left: 25%;
  }
  .column-medium-offset-2 {
    margin-left: 16.66666667%;
  }
  .column-medium-offset-1 {
    margin-left: 8.33333333%;
  }
  .column-medium-offset-0 {
    margin-left: 0%;
  }
}
/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Screen Size: Large (@screen-large) and above

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */
@media (min-width: 1400px) {
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .container {
    width: 1160px;
  }
  /* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */
  .column-1, .column-large-2, .column-large-3, .column-large-4, .column-large-5, .column-large-6, .column-large-7, .column-large-8, .column-large-9, .column-large-10, .column-large-11, .column-large-12 {
    float: left;
  }
  .column-large-12 {
    width: 100%;
  }
  .column-large-11 {
    width: 91.66666667%;
  }
  .column-large-10 {
    width: 83.33333333%;
  }
  .column-large-9 {
    width: 75%;
  }
  .column-large-8 {
    width: 66.66666667%;
  }
  .column-large-7 {
    width: 58.33333333%;
  }
  .column-large-6 {
    width: 50%;
  }
  .column-large-5 {
    width: 41.66666667%;
  }
  .column-large-4 {
    width: 33.33333333%;
  }
  .column-large-3 {
    width: 25%;
  }
  .column-large-2 {
    width: 16.66666667%;
  }
  .column-large-1 {
    width: 8.33333333%;
  }
  .column-large-pull-12 {
    right: 100%;
  }
  .column-large-pull-11 {
    right: 91.66666667%;
  }
  .column-large-pull-10 {
    right: 83.33333333%;
  }
  .column-large-pull-9 {
    right: 75%;
  }
  .column-large-pull-8 {
    right: 66.66666667%;
  }
  .column-large-pull-7 {
    right: 58.33333333%;
  }
  .column-large-pull-6 {
    right: 50%;
  }
  .column-large-pull-5 {
    right: 41.66666667%;
  }
  .column-large-pull-4 {
    right: 33.33333333%;
  }
  .column-large-pull-3 {
    right: 25%;
  }
  .column-large-pull-2 {
    right: 16.66666667%;
  }
  .column-large-pull-1 {
    right: 8.33333333%;
  }
  .column-large-pull-0 {
    right: auto;
  }
  .column-large-push-12 {
    left: 100%;
  }
  .column-large-push-11 {
    left: 91.66666667%;
  }
  .column-large-push-10 {
    left: 83.33333333%;
  }
  .column-large-push-9 {
    left: 75%;
  }
  .column-large-push-8 {
    left: 66.66666667%;
  }
  .column-large-push-7 {
    left: 58.33333333%;
  }
  .column-large-push-6 {
    left: 50%;
  }
  .column-large-push-5 {
    left: 41.66666667%;
  }
  .column-large-push-4 {
    left: 33.33333333%;
  }
  .column-large-push-3 {
    left: 25%;
  }
  .column-large-push-2 {
    left: 16.66666667%;
  }
  .column-large-push-1 {
    left: 8.33333333%;
  }
  .column-large-push-0 {
    left: auto;
  }
  .column-large-offset-12 {
    margin-left: 100%;
  }
  .column-large-offset-11 {
    margin-left: 91.66666667%;
  }
  .column-large-offset-10 {
    margin-left: 83.33333333%;
  }
  .column-large-offset-9 {
    margin-left: 75%;
  }
  .column-large-offset-8 {
    margin-left: 66.66666667%;
  }
  .column-large-offset-7 {
    margin-left: 58.33333333%;
  }
  .column-large-offset-6 {
    margin-left: 50%;
  }
  .column-large-offset-5 {
    margin-left: 41.66666667%;
  }
  .column-large-offset-4 {
    margin-left: 33.33333333%;
  }
  .column-large-offset-3 {
    margin-left: 25%;
  }
  .column-large-offset-2 {
    margin-left: 16.66666667%;
  }
  .column-large-offset-1 {
    margin-left: 8.33333333%;
  }
  .column-large-offset-0 {
    margin-left: 0%;
  }
}
