---
layout: default
title: Components
page-header:
  headline: "Components"
  description: "Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more."
  alignment: left
page-navigation:
- label: "Buttons"
  link: "#buttons"
  navigation:
  - label: "Button Sizes"
    link: "#buttons-sizes"
  - label: "Button States"
    link: "#buttons-states"
  - label: "Button Types"
    link: "#buttons-types"
    navigation:
    - label: "Rounded"
      link: "#buttons-types-rounded"
    - label: "Stroke"
      link: "#buttons-types-stroke"
    - label: "Link"
      link: "#buttons-types-link"
    - label: "Combined"
      link: "#buttons-types-combine"
  - label: "Button Collection"
    link: "#buttons-collection"
    navigation:
    - label: "Vertical Alignment"
      link: "#buttons-collection-vertical-alignment"
  - label: "Wide Button"
    link: "#buttons-wide"
    navigation:
    - label: "Responsive Wide Buttons"
      link: "#buttons-wide-responsive"
  - label: "Button Groups"
    link: "#buttons-button-groups"
    navigation:
    - label: "Styled Button Groups"
      link: "#buttons-button-groups-styles"
  - label: "Button Dropdowns"
    link: "#buttons-dropdowns"
    navigation:
    - label: "Single Button Dropdowns"
      link: "#buttons-dropdowns-single-button"
    - label: "Button Dropdown Sizes"
      link: "#buttons-dropdowns-sizing"
    - label: "Styled Button Dropdowns"
      link: "#buttons-dropdowns-styled"
  - label: "Button Controls"
    link: "#buttons-controls"
    navigation:
    - label: "Toggle Buttons"
      link: "#buttons-controls-toggle"
    - label: "Checkbox &amp; Radio Button Groups"
      link: "#buttons-controls-button-groups"
- label: "Dropdowns"
  link: "#dropdowns"
  navigation:
  - label: "Alignment"
    link: "#dropdowns-alignment"
  - label: "Headers"
    link: "#dropdowns-headers"
  - label: "Dividers"
    link: "#dropdowns-dividers"
  - label: "Dropdown Menu List States"
    link: "#dropdowns-menu-list-states"
  - label: "Dropdown Menu Inverted"
    link: "#dropdowns-menu-inverted"
---

<div class="canvas-pod">

  <div class="container container-pod">

    {% include layout/page-content-navigation-open.html %}

    {% include components/buttons.html %}

    <hr>
    
    {% include components/dropdowns.html %}

    {% include layout/page-content-navigation-close.html %}

  </div>

</div>
