---
layout: default
title: Styling
page-header:
  headline: "Base Styling"
  description: "Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system."
  alignment: left
page-navigation:
- label: "Body Text"
  link: "#typography-body"
  navigation:
  - label: "Lead"
    link: "#typography-body-lead"
  - label: "Small"
    link: "#typography-body-small"
- label: "Headings"
  link: "#typography-headings"
- label: "Inline Styling"
  link: "#typography-inline-styling"
  navigation:
  - label: "Emphasize"
    link: "#typography-inline-styling-emphasize"
  - label: "Mute"
    link: "#typography-inline-styling-mute"
- label: "Inverse Styling"
  link: "#typography-inverse-styling"
- label: "Text Alignment"
  link: "#typography-text-alignment"
---

<div class="canvas-pod">

  <div class="container container-pod">

    {% include layout/page-content-navigation-open.html %}

    <!-- =================================================
    BEGIN: Body Text
    ================================================== -->

    <section id="typography-body">

      <h1 class="flush-top">

        Body Text

      </h1>

      <p>

        Body copy, text wrapped in a simple <code>&lt;p&gt;</code> tag, lays the foundation for all other text attributes and elements.  Every element of body copy, and really any text, is definable by canvas.

      </p>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="example-block">

        <div class="example-block-content">

          <p class="">

            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

          </p>

          <p class="flush-bottom">

            Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

          </p>

        </div>

        <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p&gt;
  Efficiently unleash cross-media information&hellip;
&lt;/p&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->

      <!-- =================================================
      BEGIN: Lead Text
      ================================================== -->

      <section id="typography-body-lead">

        <h2>

          Lead Text

        </h2>

        <p>

          Increase the importance of your body copy by adding the class <code>.lead</code>. Lead is only a class, and not an HTML tag, but may be useful when you want to retain the semantic nature of a paragraph, but are not willing to classify it as a heading.

        </p>

        <!-- =================================================
        BEGIN: Example
        ================================================== -->

        <div class="example-block">

          <div class="example-block-content">

            <p class="lead">

              Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.

            </p>

            <p class="flush-bottom">

              Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

            </p>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p class="lead"&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p&gt;
  Efficiently unleash cross-media information&hellip;
&lt;/p&gt;
</pre>

          </div>

        </div>

        <!-- =================================================
        END: Example
        ================================================== -->


      </section>

      <!-- =================================================
      END: Lead Text
      ================================================== -->

      <!-- =================================================
      BEGIN: Small Text
      ================================================== -->

      <section id="typography-body-small">

        <h2>

          Small Text

        </h2>

        <p>

          For less important body text, add the class <code>.small</code>. Small text is useful for legal fine-print, instructional text, or supporting details.

        </p>

        <!-- =================================================
        BEGIN: Example
        ================================================== -->

        <div class="example-block">

          <div class="example-block-content">

            <p>

              Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

            </p>

            <p class="small flush-bottom">

              Collaboratively administrate empowered markets via plug-and-play networks.

            </p>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p class="small"&gt;
  Efficiently unleash cross-media information&hellip;
&lt;/p&gt;
</pre>

          </div>

        </div>

        <!-- =================================================
        END: Example
        ================================================== -->


      </section>

      <!-- =================================================
      END: Small Text
      ================================================== -->


    </section>

    <!-- =================================================
    END: Body Text
    ================================================== -->

    <!-- =================================================
    BEGIN: Headings
    ================================================== -->

    <section id="typography-headings">

      <h1>

        Headings

      </h1>

      <p>

        All standard HTML heading tags from <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available. In addition the class <code>.h1</code> through <code>.h6</code> classes are available, for when you want to match the font styling of a heading but don't want to adjust the tag.

      </p>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="example-block">

        <div class="example-block-content">

          <h1 class="flush-top">

            H1 Heading Text

          </h1>

          <h2>

            H2 Heading Text

          </h2>

          <h3>

            H3 Heading Text

          </h3>

          <h4>

            H4 Heading Text

          </h4>

          <h5>

            H5 Heading Text

          </h5>

          <h6 class="flush-bottom">

            H6 Heading Text

          </h6>

        </div>

        <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;h1&gt;
  H1 Heading Text
&lt;/h1&gt;

&lt;h2&gt;
  H2 Heading Text
&lt;/h2&gt;

&lt;h3&gt;
  H3 Heading Text
&lt;/h3&gt;

&lt;h4&gt;
  H4 Heading Text
&lt;/h4&gt;

&lt;h5&gt;
  H5 Heading Text
&lt;/h5&gt;

&lt;h6&gt;
  H6 Heading Text
&lt;/h6&gt;
</pre>

        </div>

      </div>

    </section>

    <!-- =================================================
    END: Headings
    ================================================== -->

    <!-- =================================================
    BEGIN: Inline Styling
    ================================================== -->

    <section id="typography-inline-styling">

      <h1>

        Inline Styling

      </h1>

      <p class="flush-bottom">

        For all text elements, classes are made available to adjust the styling inline.  For example, increase the emphasize of text to convey importance.

      </p>

      <!-- =================================================
      BEGIN: Inline Styling (Emphasize)
      ================================================== -->

      <section id="typography-inline-styling-emphasize">

        <h2>

          Emphasize

        </h2>

        <p>

          When you want to emphasize the importance the text, use the class <code>.emphasize</code>. All text included text elements &mdash; headings, body text, lead &mdash; had added support for emphasized text.

        </p>

        <!-- =================================================
        BEGIN: Example
        ================================================== -->

        <div class="example-block">

          <div class="example-block-content">

            <h2 class="flush-top">

              Heading with <span class="emphasize">emphasized</span> text

            </h2>

            <p class="lead">

              Quickly <span class="emphasize">maximize</span> timely deliverables for deliverables without functional solutions.

            </p>

            <p class="flush-bottom">

              Efficiently unleash <span class="emphasize">cross-media</span> information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

            </p>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;h2 class="flush-top"&gt;
  Heading with &lt;span class="emphasize"&gt;emphasized&lt;/span&gt; text
&lt;/h2&gt;

&lt;p class="lead"&gt;
  Quickly &lt;span class="emphasize"&gt;maximize&lt;/span&gt; timely&hellip;
&lt;/p&gt;

&lt;p class="flush-bottom"&gt;
  Efficiently unleash &lt;span class="emphasize"&gt;cross-media&lt;/span&gt; inf&hellip;
&lt;/p&gt;
</pre>

          </div>

        </div>

      </section>

      <!-- =================================================
      END: Inline Styling (Emphasize)
      ================================================== -->

      <!-- =================================================
      BEGIN: Inline Styling (mute)
      ================================================== -->

      <section id="typography-inline-styling-mute">

        <h2>

          Mute

        </h2>

        <p>

          When you want to demphasize the importance text, use the class <code>.mute</code>. All text included text elements &mdash; headings, body text, lead &mdash; had added support for muted text.

        </p>

        <!-- =================================================
        BEGIN: Example
        ================================================== -->

        <div class="example-block">

          <div class="example-block-content">

            <h2 class="flush-top">

              Heading with <span class="mute">muted</span> text

            </h2>

            <p class="lead">

              Quickly <span class="mute">maximize</span> timely deliverables for deliverables without functional solutions.

            </p>

            <p class="flush-bottom">

              Efficiently unleash <span class="mute">cross-media</span> information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

            </p>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;h2 class="flush-top"&gt;
  Heading with &lt;span class="mute"&gt;muted&lt;/span&gt; text
&lt;/h2&gt;

&lt;p class="lead"&gt;
  Quickly &lt;span class="mute"&gt;maximize&lt;/span&gt; timely&hellip;
&lt;/p&gt;

&lt;p class="flush-bottom"&gt;
  Efficiently unleash &lt;span class="mute"&gt;cross-media&lt;/span&gt; inf&hellip;
&lt;/p&gt;
</pre>

          </div>

        </div>

      </section>

      <!-- =================================================
      END: Inline Styling (mute)
      ================================================== -->

    </section>

    <!-- =================================================
    END: Inline Styling
    ================================================== --><!-- =================================================
    BEGIN: Body Text
    ================================================== -->

    <section id="typography-inverse-styling">

      <h1>

        Inverse Styling

      </h1>

      <p>

        All typographic elements have support for inverted styling.  This is useful when text is resting on a dark background.  Add the class <code>.inverse</code> to any text element to leverage the inverted styling.

      </p>

      <p>

        The inverse styling even has added support for the <code>.emphasize</code> and <code>.mute</code> inline styling classes.

      </p>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="example-block inverse">

        <div class="example-block-content">

          <h2 class="inverse flush-top">

            H2 Heading Text

          </h2>

          <p class="lead inverse">

            Dramatically visualize <span class="emphasize">customer</span> directed convergence without revolutionary ROI.

          </p>

          <p class="inverse">

            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

          </p>

          <p class="inverse flush-bottom">

            Efficiently unleash <span class="mute">cross-media</span> information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

          </p>

        </div>

        <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;h2 class="inverse"&gt;
  H2 Heading Text
&lt;/h2&gt;

&lt;p class="lead inverse"&gt;
  Dramatically visualize &lt;span class="emphasize"&gt;emphasized&lt;/span&gt; directed&hellip;
&lt;/p&gt;

&lt;p class="inverse"&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p class="inverse"&gt;
  Efficiently unleash &lt;span class="mute"&gt;cross-media&lt;/span&gt; information&hellip;
&lt;/p&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->


    </section>

    <!-- =================================================
    END: Body Text
    ================================================== -->



    <!-- ************************************************** -->
    <!-- BEGIN: FORMS OVERVIEW                              -->
    <!-- ************************************************** -->

    <section id="forms-overview">

      <p>

        Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.

      </p>

      <!-- ************************************************** -->
      <!-- BEGIN: EXAMPLE                                     -->
      <!-- ************************************************** -->

      <div class="example-block">

        <div class="example-block-content">

          <form class="form flush-bottom">

            <div class="row">

              <div class="column-mini-6">

                <div class="form-group">

                  <label>

                    First Name

                  </label>

                  <input type="text" class="form-control" placeholder="">

                </div>

              </div>

              <div class="column-mini-6">

                <div class="form-group">

                  <label>

                    Last Name

                  </label>

                  <input type="text" class="form-control" placeholder="">

                </div>

              </div>

            </div>

            <div class="row">

              <div class="column-mini-6">

                <div class="form-group">

                  <label>

                    Email address

                  </label>

                  <input type="email" class="form-control" placeholder="email@domain.com">

                  <p class="form-help-block">

                    Please provide a valid email.

                  </p>

                </div>

              </div>

              <div class="column-mini-6">

                <div class="form-group">

                  <label>

                    Password

                  </label>

                  <input type="password" class="form-control" placeholder="">

                  <p class="form-help-block">

                    Must include atleast 1 number and 1 symbol.

                  </p>

                </div>

              </div>

            </div>

            <div class="row">

              <div class="column-mini-12">

                <div class="form-group">

                  <label>

                    About Me

                  </label>

                  <textarea class="form-control"></textarea>

                </div>

              </div>

            </div>

            <div class="button-collection flush-bottom">

              <button type="submit" class="button button-primary">

                Submit

              </button>

            </div>

          </form>

        </div>

        <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;form class="form flush-bottom"&gt;
  &lt;div class="row"&gt;
    &lt;div class="column-mini-6"&gt;
      &lt;div class="form-group"&gt;
        &lt;label&gt;
          First Name
        &lt;/label&gt;
        &lt;input type="text" class="form-control" placeholder=""&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="column-mini-6"&gt;
      &lt;div class="form-group"&gt;
        &lt;label&gt;
          Last Name
        &lt;/label&gt;
        &lt;input type="text" class="form-control" placeholder=""&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &hellip;
  &lt;div class="button-collection flush-bottom"&gt;
    &lt;button type="submit" class="button button-primary"&gt;
      Submit
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/form&gt;
</pre>

        </div>

      </div>

      <!-- ************************************************** -->
      <!-- END: EXAMPLE                                       -->
      <!-- ************************************************** -->

    </section>

    <!-- ************************************************** -->
    <!-- END: FORMS OVERVIEW                                -->
    <!-- ************************************************** -->

    <!-- ************************************************** -->
    <!-- BEGIN: FORMS CONTROLS                              -->
    <!-- ************************************************** -->

    <section id="forms-controls">

      <h1>

        Form Controls

      </h1>

      <section id="forms-controls-inputs">

        <h2>

          Inputs

        </h2>

        <p>

          Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

        </p>

        <!-- ************************************************** -->
        <!-- BEGIN: EXAMPLE                                     -->
        <!-- ************************************************** -->

        <div class="example-block">

          <div class="example-block-content">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-12">

                  <div class="form-group flush-bottom">

                    <input type="text" class="form-control" placeholder="Placeholder Text">

                  </div>

                </div>

              </div>

            </form>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;div class="form-group"&gt;
  &lt;input type="text" class="form-control" placeholder="Placeholder Text"&gt;
&lt;/div&gt;
</pre>

          </div>

        </div>

        <!-- ************************************************** -->
        <!-- END: EXAMPLE                                       -->
        <!-- ************************************************** -->

      </section>

      <section id="forms-controls-textarea">

        <h2>

          Textarea

        </h2>

        <p>

          Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

        </p>

        <!-- ************************************************** -->
        <!-- BEGIN: EXAMPLE                                     -->
        <!-- ************************************************** -->

        <div class="example-block">

          <div class="example-block-content">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-12">

                  <div class="form-group flush-bottom">

                    <textarea class="form-control" placeholder="Placeholder Text" rows="4"></textarea>

                  </div>

                </div>

              </div>

            </form>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;div class="form-group"&gt;
  &lt;textarea class="form-control" placeholder="Placeholder Text" rows="4"&gt;&lt;/textarea&gt;
&lt;/div&gt;
</pre>

          </div>

        </div>

        <!-- ************************************************** -->
        <!-- END: EXAMPLE                                       -->
        <!-- ************************************************** -->

      </section>

      <section id="forms-controls-checkboxes-and-radios">

        <h2>

          Checkboxes &amp; Radios

        </h2>

        <p>

          Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

        </p>

        <!-- ************************************************** -->
        <!-- BEGIN: EXAMPLE                                     -->
        <!-- ************************************************** -->

        <div class="example-block">

          <div class="example-block-content">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-12">

                  <div class="form-group">

                    <div class="checkbox">

                      <label>

                        <input type="checkbox">

                        First Option

                      </label>

                    </div>

                    <div class="checkbox">

                      <label>

                        <input type="checkbox">

                        Second Option

                      </label>

                    </div>

                    <div class="checkbox disabled">

                      <label>

                        <input type="checkbox" disabled="">

                        Third Option (Disabled)

                      </label>

                    </div>

                  </div>

                  <div class="form-group flush-bottom">

                    <div class="radio">

                      <label>

                        <input type="radio" name="sample-radio-group" checked="">

                        First Option

                      </label>

                    </div>

                    <div class="radio">

                      <label>

                        <input type="radio" name="sample-radio-group">

                        Second Option

                      </label>

                    </div>

                    <div class="radio disabled">

                      <label>

                        <input type="radio" name="sample-radio-group" disabled="">

                        Third Option (Disabled)

                      </label>

                    </div>

                  </div>

                </div>

              </div>

            </form>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;div class="form-group"&gt;
  &lt;div class="checkbox"&gt;
    &lt;label&gt;
      &lt;input type="checkbox"&gt;
      First Option
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="checkbox"&gt;
    &lt;label&gt;
      &lt;input type="checkbox"&gt;
      Second Option
    &lt;/label&gt;
  &lt;/div&gt;
  &hellip;
&lt;/div&gt;
</pre>

          </div>

        </div>

        <!-- ************************************************** -->
        <!-- END: EXAMPLE                                       -->
        <!-- ************************************************** -->

      </section>

      <section id="forms-controls-selects">

        <h2>

          Selects

        </h2>

        <p>

          Default styling for <code>select</code> elements are available, or mirror custom control styling by wrapping any select in <code>.form-control</code> class and add the additional class <code>.form-control-select</code>.  For selects of type <code>multiple</code> add the class <code>.form-control-select-multiple</code>.

        </p>

        <!-- ************************************************** -->
        <!-- BEGIN: EXAMPLE                                     -->
        <!-- ************************************************** -->

        <div class="example-block">

          <div class="example-block-content">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-12">

                  <div class="form-group">

                    <span class="form-control form-control-select">

                      <select>

                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                      </select>

                    </span>

                  </div>

                  <div class="form-group flush-bottom">

                    <span class="form-control form-control-select form-control-select-multiple">

                      <select multiple>

                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                      </select>

                    </span>

                  </div>

                </div>

              </div>

            </form>

          </div>

          <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;div class="form-group"&gt;
  &lt;span class="form-control form-control-select"&gt;
    &lt;select&gt;
      &lt;option&gt;1&lt;/option&gt;
      &lt;option&gt;2&lt;/option&gt;
      &lt;option&gt;&hellip;&lt;/option&gt;
    &lt;/select&gt;
  &lt;/span&gt;
&lt;/div&gt;

&lt;div class="form-group"&gt;
  &lt;span class="form-control form-control-select form-control-select-multiple"&gt;
    &lt;select multiple&gt;
      &lt;option&gt;1&lt;/option&gt;
      &lt;option&gt;2&lt;/option&gt;
      &lt;option&gt;&hellip;&lt;/option&gt;
    &lt;/select&gt;
  &lt;/span&gt;
&lt;/div&gt;
</pre>

          </div>

        </div>

        <!-- ************************************************** -->
        <!-- END: EXAMPLE                                       -->
        <!-- ************************************************** -->

      </section>

    </section>

    <!-- ************************************************** -->
    <!-- END: FORMS CONTROLS                                -->
    <!-- ************************************************** -->

    <!-- ************************************************** -->
    <!-- BEGIN: FORMS CONTROL STATES                        -->
    <!-- ************************************************** -->

    <section id="forms-controls-states">

      <h1>

        Control States

      </h1>

      <section id="forms-controls-states-focus">

        <h2>

          Focus

        </h2>

        <p>

          For form controls, we remove the default <code>outline</code> style added by most browsers.  On <code>:focus</code> we apply user-defined styling.  Similar styling attributes can be defined for the <code>:hover</code> state.

        </p>

        <!-- ************************************************** -->
        <!-- BEGIN: EXAMPLE                                     -->
        <!-- ************************************************** -->

        <div class="example-block">

          <div class="example-block-content flush-bottom">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-12">

                  <div class="form-group flush-bottom">

                    <input type="text" class="form-control focus" id="form-control-focus" placeholder="Placeholder Text">

                  </div>

                </div>

              </div>

            </form>

          </div>

        </div>

        <!-- ************************************************** -->
        <!-- END: EXAMPLE                                       -->
        <!-- ************************************************** -->

      </section>

      <section id="forms-controls-states-disabled">

        <h2>

          Disabled

        </h2>

        <p>

          Add the <code>disabled</code> boolean attribute on an input to prevent user input and trigger a slightly different look.

        </p>

        <!-- ************************************************** -->
        <!-- BEGIN: EXAMPLE                                     -->
        <!-- ************************************************** -->

        <div class="example-block">

          <div class="example-block-content flush-bottom">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-12">

                  <div class="form-group flush-bottom">

                    <input type="text" class="form-control focus" placeholder="Placeholder Text" disabled>

                  </div>

                </div>

              </div>

            </form>

          </div>

        </div>

        <!-- ************************************************** -->
        <!-- END: EXAMPLE                                       -->
        <!-- ************************************************** -->

      </section>

      <section id="forms-controls-states-validation">

        <h2>

          Validation

        </h2>

        <p>

          Canvas includes validation states for success and error states for all form elements including <code>.form-control</code>, <code>checkbox</code>, and <code>label</code>.  Simply add class <code>.form-group-success</code> or <code>.form-group-error</code> to any <code>.form-group</code> and all components inside will reflect the appropriate state styling.

        </p>

        <div class="example-block">

          <div class="example-block-content">

            <form class="form flush-bottom">

              <div class="row">

                <div class="column-mini-6">

                  <div class="form-group">

                    <label>

                      Default Input

                    </label>

                    <input type="text" class="form-control" placeholder="Placeholder">

                    <p class="form-help-block">

                      Example block-level help text here.

                    </p>

                  </div>

                </div>

                <div class="column-mini-6">

                  <div class="form-group">

                    <label>

                      Default Select

                    </label>

                    <span class="form-control form-control-select">

                      <select>

                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                      </select>

                    </span>

                  </div>

                </div>

              </div>

              <div class="row">

                <div class="column-mini-6">

                  <div class="form-group form-group-success">

                    <label>

                      Success Input

                    </label>

                    <input type="text" class="form-control" placeholder="Placeholder">

                    <p class="form-help-block">

                      Example block-level help text here.

                    </p>

                  </div>

                </div>

                <div class="column-mini-6">

                  <div class="form-group form-group-success">

                    <label>

                      Success Select

                    </label>

                    <span class="form-control form-control-select">

                      <select>

                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                      </select>

                    </span>

                  </div>

                </div>

              </div>

              <div class="row">

                <div class="column-mini-6">

                  <div class="form-group form-group-error">

                    <label>

                      Error Input

                    </label>

                    <input type="text" class="form-control" placeholder="Input (Error)">

                    <p class="form-help-block">

                      Example block-level help text here.

                    </p>

                  </div>

                </div>

                <div class="column-mini-6">

                  <div class="form-group form-group-error">

                    <label>

                      Error Select

                    </label>

                    <span class="form-control form-control-select">

                      <select>

                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                      </select>

                    </span>

                  </div>

                </div>

              </div>

            </form>

          </div>

          <div class="example-block-footer">

          </div>

        </div>

      </section>

    </section>

    <!-- ************************************************** -->
    <!-- END: FORMS CONTROL STATES                          -->
    <!-- ************************************************** -->

    <!-- ************************************************** -->
    <!-- BEGIN: FORMS CONTROL SIZES                         -->
    <!-- ************************************************** -->

    <section id="forms-controls-sizes">

      <h1>

        Control Sizes

      </h1>

      <p>

        Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

      </p>

      <div class="example-block">

        <div class="example-block-content">

          <form class="form flush-bottom">

            <div class="form-group">

              <label>

                Mini

              </label>

              <input type="text" class="form-control form-control-mini" placeholder="Input (Mini)">

            </div>

            <div class="form-group">

              <label>

                Small

              </label>

              <input type="text" class="form-control form-control-small" placeholder="Input (Small)">

            </div>

            <div class="form-group">

              <label>

                Default

              </label>

              <input type="text" class="form-control" placeholder="Input (Default)">

            </div>

            <div class="form-group">

              <label>

                Large

              </label>

              <input type="text" class="form-control form-control-large" placeholder="Input (Large)">

            </div>

            <div class="form-group">

              <label>

                Jumbo

              </label>

              <input type="text" class="form-control form-control-jumbo" placeholder="Input (Jumbo)">

            </div>

          </form>

        </div>

        <div class="example-block-footer">

        </div>

      </div>

    </section>

    <!-- ************************************************** -->
    <!-- END: FORMS CONTROL SIZES                           -->
    <!-- ************************************************** -->

    <!-- ************************************************** -->
    <!-- BEGIN: FORMS HELP BLOCK                            -->
    <!-- ************************************************** -->

    <section id="forms-help-block">

      <h1>

        Help Block

      </h1>

      <p>

        Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

      </p>

    </section>

    <!-- ************************************************** -->
    <!-- END: FORMS HELP BLOCK                              -->
    <!-- ************************************************** -->




    {% include layout/page-content-navigation-close.html %}

  </div>

</div>
