---
layout: default
title: Styling
page-header:
  headline: "Base Styling"
  description: "Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system."
  alignment: left
page-navigation:
- label: "Typography"
  link: "#typography"
  navigation:
  - label: "Body Text"
    link: "#typography-body"
    navigation:
    - label: "Lead"
      link: "#typography-body-lead"
    - label: "Small"
      link: "#typography-body-small"
  - label: "Headings"
    link: "#typography-headings"
  - label: "Inline Styling"
    link: "#typography-inline-styling"
    navigation:
    - label: "Emphasize"
      link: "#typography-inline-styling-emphasize"
    - label: "Mute"
      link: "#typography-inline-styling-mute"
  - label: "Inverse Styling"
    link: "#typography-inverse-styling"
  - label: "Text Alignment"
    link: "#typography-text-alignment"
  - label: "Text Transformation"
    link: "#typography-text-transformation"
  - label: "Lists"
    link: "#typography-lists"
    navigation:
    - label: "Ordered List"
      link: "#typography-lists-ordered"
    - label: "Unordered List"
      link: "#typography-lists-unordered"
    - label: "Unstyled List"
      link: "#typography-lists-unstyled"
    - label: "Inline List"
      link: "#typography-lists-inline"
- label: "Forms"
  link: "#forms"
  navigation:
  - label: "Form Controls"
    link: "#forms-controls"
    navigation:
    - label: "Inputs"
      link: "#forms-controls-inputs"
    - label: "Text Area"
      link: "#forms-controls-textarea"
    - label: "Checkboxes &amp; Radios"
      link: "#forms-controls-checkboxes-and-radios"
    - label: "Selects"
      link: "#forms-controls-selects"
  - label: "Control States"
    link: "#forms-controls-states"
    navigation:
    - label: "Focus"
      link: "#forms-controls-states-focus"
    - label: "Disabled"
      link: "#forms-controls-states-disabled"
    - label: "Validation"
      link: "#forms-controls-states-validation"
  - label: "Control Sizes"
    link: "#forms-controls-sizes"
  - label: "Help Block"
    link: "#forms-help-block"
---

<div class="canvas-pod">

  <div class="container container-pod">

    {% include layout/page-content-navigation-open.html %}

    {% include styling/typography.html %}

    <hr>

    {% include styling/forms.html %}

    {% include layout/page-content-navigation-close.html %}

  </div>

</div>
