/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

variables.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Colors

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------
Grayscale
---------------------------------------------------------------------------------------------------- */

@white:																							#ffffff;
@gray:																							#bbbbbb;
@black:																							#000000;

/* ----------------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------------- */

@red:																							#ff0000;
@orange:																						#f38339;
@yellow:																						#ff0000;
@green:																							#70af2f;
@blue:																							#0066cc;
@purple:																						#a46494;

/* ----------------------------------------------------------------------------------------------------
Social Networks
---------------------------------------------------------------------------------------------------- */

@facebook:																						#3b5998;
@twitter:																						#55acee;
@google-plus:																					#db4437;
@linked-in:																						#0976b4;






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Layout

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------
Screen Sizes
---------------------------------------------------------------------------------------------------- */

// Mini Screen (Phone)

@screen-mini:																					480px;
@screen-mini-max:																				(@screen-small - 1);

// Small Screen (Tablet)

@screen-small:																					768px;
@screen-small-max:																				(@screen-medium - 1);

// Medium Screen (Laptop)

@screen-medium:																					992px;
@screen-medium-max:																				(@screen-large - 1);

// Large Screen (Desktop)

@screen-large:																					1400px;