/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

utilities/mixins-animation.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Transitions

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.transition(@transition) {
	
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
	
}

.transition-delay(@transition-delay) {
	
	-webkit-transition-delay: @transition-delay;
	-moz-transition-delay: @transition-delay;
	-o-transition-delay: @transition-delay;
	transition-delay: @transition-delay;
	
}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Animation

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.animation(@animation) {

	-webkit-animation: @animation;
	-moz-animation: @animation;
	-ms-animation: @animation;
	-o-animation: @animation;
	animation: @animation;
	
}

.animation-name(@animation-name) {
	
	-webkit-animation-name: @animation-name;
	-moz-animation-name: @animation-name;
	-ms-animation-name: @animation-name;
	-o-animation-name: @animation-name;
	animation-name: @animation-name;
	
}

.animation-duration(@animation-duration) {
	
	-webkit-animation-duration: @animation-duration;
	-moz-animation-duration: @animation-duration;
	-ms-animation-duration: @animation-duration;
	-o-animation-duration: @animation-duration;
	animation-duration: @animation-duration;
	
}

.animation-timing-function(@animation-timing-function) {
	
	-webkit-animation-timing-function: @animation-timing-function;
	-moz-animation-timing-function: @animation-timing-function;
	-ms-animation-timing-function: @animation-timing-function;
	-o-animation-timing-function: @animation-timing-function;
	animation-timing-function: @animation-timing-function;
	
}

.animation-iteration-count(@animation-iteration-count) {
	
	-webkit-animation-iteration-count: @animation-iteration-count;
	-moz-animation-iteration-count: @animation-iteration-count;
	-ms-animation-iteration-count: @animation-iteration-count;
	-o-animation-iteration-count: @animation-iteration-count;
	animation-iteration-count: @animation-iteration-count;
	
}

.animation-direction(@animation-direction) {
	
	-webkit-animation-direction: @animation-direction;
	-moz-animation-direction: @animation-direction;
	-ms-animation-direction: @animation-direction;
	-o-animation-direction: @animation-direction;
	animation-direction: @animation-direction;
	
}

.animation-delay(@animation-delay) {
	
	-webkit-animation-delay: @animation-delay;
	-moz-animation-delay: @animation-delay;
	-ms-animation-delay: @animation-delay;
	-o-animation-delay: @animation-delay;
	animation-delay: @animation-delay;
	
}

.animation-play-state(@animation-play-state) {
	
	-webkit-animation-play-state: @animation-play-state;
	-moz-animation-play-state: @animation-play-state;
	-ms-animation-play-state: @animation-play-state;
	-o-animation-play-state: @animation-play-state;
	animation-play-state: @animation-play-state;
	
}

.animation-fill-mode(@animation-fill-mode) {
	
	-webkit-animation-fill-mode: @animation-fill-mode;
	-moz-animation-fill-mode: @animation-fill-mode;
	-ms-animation-fill-mode: @animation-fill-mode;
	-o-animation-fill-mode: @animation-fill-mode;
	animation-fill-mode: @animation-fill-mode;
	
}