/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

utilities/mixins-typography.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Placeholder Text

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.placeholder(@color: @input-color-placeholder) {

    &:-moz-placeholder            { color: @color; } // Firefox 4-18
    &::-moz-placeholder           { color: @color; } // Firefox 19+
    &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome

}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Text Overflow

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.text-overflow() {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Hide Text

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.hide-text() {

    font: ~"0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;

}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Font Smoothing

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.font-smoothing(@font-smoothing) {

    -webkit-font-smoothing: @font-smoothing;
    -moz-font-smoothing: @font-smoothing;
    -ms-font-smoothing: @font-smoothing;
    font-smoothing: @font-smoothing;

}
