/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

layout/grid.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Fixed Container

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.container {

	.container-fixed(@grid-gutter-width);

}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Fluid Container

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.container-fluid {

	.container-fixed(@grid-gutter-width);

}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Row

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.row {

	.make-row(@grid-gutter-width);

}






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Columns

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.make-grid-columns(@grid-columns-count, @grid-gutter-width);






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Grid

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.make-grid();






& when (@screen-mini-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Mini (@screen-mini) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media (min-width: @screen-mini) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.container {

			width: @grid-container-width-screen-mini;

		}



		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.make-grid(mini);

	}

}






& when (@screen-small-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Small (@screen-small) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media (min-width: @screen-small) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.container {

			width: @grid-container-width-screen-small;

		}



		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.make-grid(small);

	}

}






& when (@screen-medium-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Medium (@screen-medium) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media (min-width: @screen-medium) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.container {

			width: @grid-container-width-screen-medium;

		}



		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.make-grid(medium);

	}

}






& when (@screen-large-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Large (@screen-large) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media (min-width: @screen-large) {

		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Container

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.container {

			width: @grid-container-width-screen-large;

		}



		/* ----------------------------------------------------------------------------------------------------
		-------------------------------------------------------------------------------------------------------

		Grid

		-------------------------------------------------------------------------------------------------------
		---------------------------------------------------------------------------------------------------- */

		.make-grid(large);

	}

}
