<!-- =================================================
BEGIN: Typography
================================================== -->

<section id="typography">

  <h1 class="flush-top">

    Typography

  </h1>

  {% include styling/typography-body.html %}
  {% include styling/typography-headings.html %}
  {% include styling/typography-inline-styling.html %}
  {% include styling/typography-inverse-styling.html %}

</section>

<!-- =================================================
BEGIN: Typography
================================================== -->
