/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

layout/page-content.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Variables

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Page Content

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

#page-content {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Page Content Navigation

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  .page-content-navigation {

    li {

      text-rendering: optimizelegibility;
      font-family: @header-navigation-link-text-font-family;
      font-size: @header-navigation-link-text-font-size;
      font-weight: @header-navigation-link-text-font-weight;
      font-style: @header-navigation-link-text-font-style;
      //line-height: @header-logo-height;
      text-transform: @header-navigation-link-text-transform;
      color: @header-navigation-link-text-color;
      text-shadow: @header-navigation-link-text-shadow;
      position: relative;

      a {

        display: block;
        //line-height: @header-logo-height;
        color: @header-navigation-link-text-link-text-color;
        text-decoration: @header-navigation-link-text-link-text-decoration;

        &:hover {

          color: @header-navigation-link-text-link-hover-text-color;
          text-decoration: @header-navigation-link-text-link-hover-text-decoration;

        }

        &:active {

          color: @header-navigation-link-text-link-active-text-color;
          text-decoration: @header-navigation-link-text-link-active-text-decoration;

        }

      }

      &:before {

        display: none;
        content: '';
        position: absolute;
        top: auto;
        bottom: 0px;
        left: -(@base-spacing-unit * 0.5);
        width: 2px;
        height: 100%;
        background: @header-navigation-link-text-link-text-color;
        .border-radius(0px);

      }

      &:last-child {

        margin-right: 0px;

      }

      &.active {

        a {

          color: ~`color_lightness("@{neutral}", -50)`;

        }

        &:before {

          display: block;

        }

      }

      ul {

        li {

          font-size: @small-text-font-size;
          line-height: @small-text-line-height;
          font-weight: 400;

        }

      }

    }

  }

}






& when (@screen-mini-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Content

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-content {

      /* ----------------------------------------------------------------------------------------------------
      -------------------------------------------------------------------------------------------------------

      Page Content Navigation

      -------------------------------------------------------------------------------------------------------
      ---------------------------------------------------------------------------------------------------- */

      .page-content-navigation {

        li {

          //margin: 0px (@base-spacing-unit-screen-mini * 0.5) 0px 0px;
          font-size: @header-navigation-link-text-font-size * @header-navigation-link-text-font-size-scale-screen-mini;
          //line-height: @header-logo-height-screen-mini;

          a {

            //line-height: @header-logo-height-screen-mini;

          }

          &:before {

            bottom: -@header-container-padding-vertical-screen-mini;

          }

          ul {

            li {

              font-size: @small-text-font-size * @small-text-font-size-scale-screen-mini;
              line-height: @small-text-line-height * @small-text-line-height-scale-screen-mini;

            }

          }

        }

      }

    }

  }

}






& when (@screen-small-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Content

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-content {

      /* ----------------------------------------------------------------------------------------------------
      -------------------------------------------------------------------------------------------------------

      Page Content Navigation

      -------------------------------------------------------------------------------------------------------
      ---------------------------------------------------------------------------------------------------- */

      .page-content-navigation {

        margin-bottom: @container-pod-padding-vertical-screen-small !important;

        &.affix {

          position: fixed;
          top: @container-pod-padding-vertical-screen-small;

        }

        &.affix-top {

          top: auto;
          bottom: auto;

        }

        &.affix-bottom {

        }



        li {

          //margin: 0px (@base-spacing-unit-screen-small * 0.5) 0px 0px;
          font-size: @header-navigation-link-text-font-size * @header-navigation-link-text-font-size-scale-screen-small;
          //line-height: @header-logo-height-screen-small;

          a {

            //line-height: @header-logo-height-screen-small;

          }

          &:before {

            bottom: -@header-container-padding-vertical-screen-small;

          }

          ul {

            li {

              font-size: @small-text-font-size * @small-text-font-size-scale-screen-small;
              line-height: @small-text-line-height * @small-text-line-height-scale-screen-small;

            }

          }

        }

      }

    }

  }

}






& when (@screen-medium-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Content

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-content {

      /* ----------------------------------------------------------------------------------------------------
      -------------------------------------------------------------------------------------------------------

      Page Content Navigation

      -------------------------------------------------------------------------------------------------------
      ---------------------------------------------------------------------------------------------------- */

      .page-content-navigation {

        margin-bottom: @container-pod-padding-vertical-screen-medium !important;

        &.affix {

          position: fixed;
          top: @container-pod-padding-vertical-screen-medium;

        }

        &.affix-top {

          top: auto;
          bottom: auto;

        }

        &.affix-bottom {

        }



        li {

          //margin: 0px (@base-spacing-unit-screen-medium * 0.5) 0px 0px;
          font-size: @header-navigation-link-text-font-size * @header-navigation-link-text-font-size-scale-screen-medium;
          //line-height: @header-logo-height-screen-medium;

          a {

            //line-height: @header-logo-height-screen-medium;

          }

          &:before {

            bottom: -@header-container-padding-vertical-screen-medium;

          }

          ul {

            li {

              font-size: @small-text-font-size * @small-text-font-size-scale-screen-medium;
              line-height: @small-text-line-height * @small-text-line-height-scale-screen-medium;

            }

          }

        }

      }

    }

  }

}






& when (@screen-medium-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Content

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-content {

      /* ----------------------------------------------------------------------------------------------------
      -------------------------------------------------------------------------------------------------------

      Page Content Navigation

      -------------------------------------------------------------------------------------------------------
      ---------------------------------------------------------------------------------------------------- */

      .page-content-navigation {

        margin-bottom: @container-pod-padding-vertical-screen-large !important;

        &.affix {

          position: fixed;
          top: @container-pod-padding-vertical-screen-large;

        }

        &.affix-top {

          top: auto;
          bottom: auto;

        }

        &.affix-bottom {

        }



        li {

          //margin: 0px (@base-spacing-unit-screen-large * 0.5) 0px 0px;
          font-size: @header-navigation-link-text-font-size * @header-navigation-link-text-font-size-scale-screen-large;
          //line-height: @header-logo-height-screen-large;

          a {

            //line-height: @header-logo-height-screen-large;

          }

          &:before {

            bottom: -@header-container-padding-vertical-screen-large;

          }

          ul {

            li {

              font-size: @small-text-font-size * @small-text-font-size-scale-screen-large;
              line-height: @small-text-line-height * @small-text-line-height-scale-screen-large;

            }

          }

        }

      }

    }

  }

}






& when (@screen-resolution-2x-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Resolution: 2x

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

  }

}
