/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

template.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@dropdown-menu-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Dropdown Menu

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .dropdown-menu {

    .clearfix();
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @z-index-dropdown-menu;
    display: none;
    float: left;
    min-width: @dropdown-menu-width-minimum;
    padding: @dropdown-menu-padding-vertical @dropdown-menu-padding-horizontal;
    margin: @dropdown-menu-offset-vertical 0 0 @dropdown-menu-offset-horizontal;
    .border-radius(@dropdown-menu-border-radius);
    .background-clip(border-box);
    background: @dropdown-menu-default-background-color;
    #gradient > .vertical(@dropdown-menu-default-background-gradient-color-top, @dropdown-menu-default-background-gradient-color-bottom);
    border-top-width: @dropdown-menu-default-border-top-width;
    border-top-color: @dropdown-menu-default-border-top-color;
    border-right-width: @dropdown-menu-default-border-right-width;
    border-right-color: @dropdown-menu-default-border-right-color;
    border-bottom-width: @dropdown-menu-default-border-bottom-width;
    border-bottom-color: @dropdown-menu-default-border-bottom-color;
    border-left-width: @dropdown-menu-default-border-left-width;
    border-left-color: @dropdown-menu-default-border-left-color;
    .box-shadow(@dropdown-menu-default-shadow);






    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Dropdown Menu List

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .dropdown-menu-list {

      margin-left: @dropdown-menu-list-margin-horizontal;
      margin-right: @dropdown-menu-list-margin-horizontal;
      margin-bottom: @dropdown-menu-list-margin-vertical;



      &:last-child {

        margin-bottom: 0px;

      }



      li {

        list-style: none;
        padding: floor((@dropdown-menu-list-item-height - @dropdown-menu-list-item-text-line-height) / 2) @dropdown-menu-list-item-padding-horizontal;
        margin: @dropdown-menu-list-item-margin-vertical @dropdown-menu-list-item-margin-horizontal;


        &:before {

          display: none;

        }



        a {

          display: block;
          margin: floor(-(@dropdown-menu-list-item-height - @dropdown-menu-list-item-text-line-height) / 2) -@dropdown-menu-list-item-padding-horizontal;
          padding: floor((@dropdown-menu-list-item-height - @dropdown-menu-list-item-text-line-height) / 2) @dropdown-menu-list-item-padding-horizontal;

        }

      }

    }






    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Dropdown Menu Header

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .dropdown-menu-header {

    }






    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Dropdown Menu Divider

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .dropdown-menu-divider {

    }






    & when (@dropdown-menu-inverse-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------

      Dropdown Menu (Inverse)

      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      &.inverse {

        background: @dropdown-menu-inverse-background-color;
        #gradient > .vertical(@dropdown-menu-inverse-background-gradient-color-top, @dropdown-menu-inverse-background-gradient-color-bottom);
        border-top-width: @dropdown-menu-inverse-border-top-width;
        border-top-color: @dropdown-menu-inverse-border-top-color;
        border-right-width: @dropdown-menu-inverse-border-right-width;
        border-right-color: @dropdown-menu-inverse-border-right-color;
        border-bottom-width: @dropdown-menu-inverse-border-bottom-width;
        border-bottom-color: @dropdown-menu-inverse-border-bottom-color;
        border-left-width: @dropdown-menu-inverse-border-left-width;
        border-left-color: @dropdown-menu-inverse-border-left-color;
        .box-shadow(@dropdown-menu-inverse-shadow);

      }

    }

  }






  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Dropdown Menu (Open)

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .open > .dropdown-menu {

    display: block;

  }

}






& when (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

  }

}






& when (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

  }

}






& when (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

  }

}






& when (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

  }

}






& when (@screen-resolution-2x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 2x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

  }

}






& when (@screen-resolution-3x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 3x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {

  }

}
