/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

components/tables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@table-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Basic Table

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  table {

    border-collapse: @table-border-collapse;

  }

  th,
  td {

    text-align: left;
    border-collapse: @table-border-collapse;

  }






  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Table

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .table {

    width: 100%;
    max-width: 100%;



    & when (@table-cell-enabled) {

      /* -----------------------------------------------------------------------------
      Table Cells
      ----------------------------------------------------------------------------- */

      > thead,
      > tbody,
      > tfoot {

        > tr {

          > td {

            .table-cell-size-variant('table-cell', '', '');



            /* -----------------------------------------------------------------------------
            Table Cell (Default) State: Normal
            ----------------------------------------------------------------------------- */

            .table-cell-style-variant('table-cell', 'default');

          }



          /* -----------------------------------------------------------------------------
          Table Cell (Default, Highlight) State: Normal
          ----------------------------------------------------------------------------- */

          &.highlight > td,
          > td.highlight {

            .table-cell-style-variant('table-cell', 'default-highlight');

          }



          /* -----------------------------------------------------------------------------
          Table Cell (Default, Disabled) State: Normal
          ----------------------------------------------------------------------------- */

          &.disabled > td,
          > td.disabled {

            .opacity(@table-cell-default-disabled-opacity);
            .table-cell-style-variant('table-cell', 'default-disabled');

          }



          /* -----------------------------------------------------------------------------
          Table Cell (Selected) State: Normal
          ----------------------------------------------------------------------------- */

          &.selected > td,
          > td.selected {

            .table-cell-style-variant('table-cell', 'selected');

          }



          /* -----------------------------------------------------------------------------
          Table Cell (Selected, Highlight) State: Normal
          ----------------------------------------------------------------------------- */

          &.selected > td.highlight,
          &.selected.highlight > td,
          > td.selected.highlight {

            .table-cell-style-variant('table-cell', 'selected-highlight');

          }



          /* -----------------------------------------------------------------------------
          Table Cell (Selected, Disabled) State: Normal
          ----------------------------------------------------------------------------- */

          &.selected > td.disabled,
          &.selected.disabled > td,
          > td.selected.disabled {

            .opacity(@table-cell-selected-disabled-opacity);
            .table-cell-style-variant('table-cell', 'selected-disabled');

          }



          & when (@table-header-cell-enabled) {

            > th {

              vertical-align: bottom;
              .table-cell-size-variant('table-header-cell', '', '');



              /* -----------------------------------------------------------------------------
              Table Header Cell (Default) State: Normal
              ----------------------------------------------------------------------------- */

              .table-cell-style-variant('table-header-cell', 'default');

            }



            /* -----------------------------------------------------------------------------
            Table Header Cell (Default, Highlight) State: Normal
            ----------------------------------------------------------------------------- */

            &.highlight > th,
            > th.highlight {

              .table-cell-style-variant('table-header-cell', 'default-highlight');

            }



            /* -----------------------------------------------------------------------------
            Table Header Cell (Default, Disabled) State: Normal
            ----------------------------------------------------------------------------- */

            &.disabled > th,
            > th.disabled {

              .opacity(@table-header-cell-default-disabled-opacity);
              .table-cell-style-variant('table-header-cell', 'default-disabled');

            }



            /* -----------------------------------------------------------------------------
            Table Header Cell (Selected) State: Normal
            ----------------------------------------------------------------------------- */

            &.selected > th,
            > th.selected {

              .table-cell-style-variant('table-header-cell', 'selected');

            }



            /* -----------------------------------------------------------------------------
            Table Header Cell (Selected, Highlight) State: Normal
            ----------------------------------------------------------------------------- */

            &.selected > th.highlight,
            &.selected.highlight > th,
            > th.selected.highlight {

              .table-cell-style-variant('table-header-cell', 'selected-highlight');

            }



            /* -----------------------------------------------------------------------------
            Table Header Cell (Selected, Disabled) State: Normal
            ----------------------------------------------------------------------------- */

            &.selected > th.disabled,
            &.selected.disabled > th,
            > th.selected.disabled {

              .opacity(@table-header-cell-selected-disabled-opacity);
              .table-cell-style-variant('table-header-cell', 'selected-disabled');

            }

          }

        }

      }

    }



    & when (@table-hover-enabled) {

      &.table-hover {

        & when (@table-cell-enabled) {

          /* -----------------------------------------------------------------------------
          Table Cells
          ----------------------------------------------------------------------------- */

          > thead,
          > tbody,
          > tfoot {

            /* -----------------------------------------------------------------------------
            Table Cell (Default) State: Hover
            ----------------------------------------------------------------------------- */

            > tr:hover > td {

              .table-cell-style-variant('table-cell', 'default-hover');

            }



            /* -----------------------------------------------------------------------------
            Table Cell (Default, Highlight) State: Hover
            ----------------------------------------------------------------------------- */

            > tr:hover > td.highlight,
            > tr.highlight:hover > td {

              .table-cell-style-variant('table-cell', 'default-highlight-hover');

            }



            /* -----------------------------------------------------------------------------
            Table Cell (Default, Disabled) State: Hover
            ----------------------------------------------------------------------------- */

            > tr:hover > td.disabled,
            > tr.disabled:hover > td {

              .opacity(@table-cell-default-disabled-hover-opacity);
              .table-cell-style-variant('table-cell', 'default-disabled-hover');

            }



            /* -----------------------------------------------------------------------------
            Table Cell (Selected) State: Hover
            ----------------------------------------------------------------------------- */

            > tr:hover > td.selected,
            > tr.selected:hover > td {

              .table-cell-style-variant('table-cell', 'selected-hover');

            }


            /* -----------------------------------------------------------------------------
            Table Cell (Selected, Highlight) State: Hover
            ----------------------------------------------------------------------------- */

            > tr:hover > td.selected.highlight,
            > tr.selected.highlight:hover > td,
            > tr.selected:hover > td.highlight,
            > tr.highlight:hover > td.selected {

              .table-cell-style-variant('table-cell', 'selected-highlight-hover');

            }


            /* -----------------------------------------------------------------------------
            Table Cell (Selected, Disabled) State: Hover
            ----------------------------------------------------------------------------- */

            > tr:hover > td.selected.disabled,
            > tr.selected.disabled:hover > td,
            > tr.selected:hover > td.disabled,
            > tr.disabled:hover > td.selected {

              .table-cell-style-variant('table-cell', 'selected-disabled-hover');

            }

          }

        }

      }

    }

  }

}






& when (@table-enabled) and (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

    & when (@table-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------

      Table

      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      .table {

        & when (@table-cell-scale-screen-mini-enabled) {

          & when (@table-cell-enabled) {

            /* -----------------------------------------------------------------------------
            Table Cells
            ----------------------------------------------------------------------------- */

            > thead,
            > tbody,
            > tfoot {

              > tr {

                > td {

                  .table-cell-size-variant('table-cell', '', 'screen-mini');

                }

                & when (@table-header-cell-enabled) {

                  > th {

                    .table-cell-size-variant('table-header-cell', '', 'screen-mini');

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}






& when (@table-enabled) and (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

    & when (@table-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------

      Table

      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      .table {

        & when (@table-cell-scale-screen-small-enabled) {

          & when (@table-cell-enabled) {

            /* -----------------------------------------------------------------------------
            Table Cells
            ----------------------------------------------------------------------------- */

            > thead,
            > tbody,
            > tfoot {

              > tr {

                > td {

                  .table-cell-size-variant('table-cell', '', 'screen-small');

                }

                & when (@table-header-cell-enabled) {

                  > th {

                    .table-cell-size-variant('table-header-cell', '', 'screen-small');

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}






& when (@table-enabled) and (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

    & when (@table-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------

      Table

      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      .table {

        & when (@table-cell-scale-screen-medium-enabled) {

          & when (@table-cell-enabled) {

            /* -----------------------------------------------------------------------------
            Table Cells
            ----------------------------------------------------------------------------- */

            > thead,
            > tbody,
            > tfoot {

              > tr {

                > td {

                  .table-cell-size-variant('table-cell', '', 'screen-medium');

                }

                & when (@table-header-cell-enabled) {

                  > th {

                    .table-cell-size-variant('table-header-cell', '', 'screen-medium');

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}






& when (@table-enabled) and (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

    & when (@table-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------

      Table

      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      .table {

        & when (@table-cell-scale-screen-large-enabled) {

          & when (@table-cell-enabled) {

            /* -----------------------------------------------------------------------------
            Table Cells
            ----------------------------------------------------------------------------- */

            > thead,
            > tbody,
            > tfoot {

              > tr {

                > td {

                  .table-cell-size-variant('table-cell', '', 'screen-large');

                }

                & when (@table-header-cell-enabled) {

                  > th {

                    .table-cell-size-variant('table-header-cell', '', 'screen-large');

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}






& when (@screen-resolution-2x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 2x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

  }

}






& when (@screen-resolution-3x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 3x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {

  }

}
