/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

variables/variables-dropdown-menus.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Dropdown Menu

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Dropdown Menu Styles
----------------------------------------------------------------------------- */

@dropdown-menu-width-minimum:                                                   160px;
@dropdown-menu-padding-horizontal:                                              @base-spacing-unit * 0.25;
@dropdown-menu-padding-vertical:                                                @base-spacing-unit * 0.25;
@dropdown-menu-offset-horizontal:                                               0px;
@dropdown-menu-offset-vertical:                                                 2px;
@dropdown-menu-border-radius:                                                   4px;


/* -----------------------------------------------------------------------------
Dropdown Menu Responsive Scaling
----------------------------------------------------------------------------- */

@dropdown-menu-scale-screen-mini-enabled:                                       @screen-mini-enabled;
@dropdown-menu-scale-screen-small-enabled:                                      @screen-small-enabled;
@dropdown-menu-scale-screen-medium-enabled:                                     @screen-medium-enabled;
@dropdown-menu-scale-screen-large-enabled:                                      @screen-large-enabled;

@dropdown-menu-scale-screen-mini:                                               1.0;
@dropdown-menu-scale-screen-small:                                              1.1;
@dropdown-menu-scale-screen-medium:                                             1.2;
@dropdown-menu-scale-screen-large:                                              1.2;

@dropdown-menu-padding-horizontal-scale-screen-mini:                            @dropdown-menu-scale-screen-mini;
@dropdown-menu-padding-horizontal-scale-screen-small:                           @dropdown-menu-scale-screen-small;
@dropdown-menu-padding-horizontal-scale-screen-medium:                          @dropdown-menu-scale-screen-medium;
@dropdown-menu-padding-horizontal-scale-screen-large:                           @dropdown-menu-scale-screen-large;

@dropdown-menu-padding-vertical-scale-screen-mini:                              @dropdown-menu-scale-screen-mini;
@dropdown-menu-padding-vertical-scale-screen-small:                             @dropdown-menu-scale-screen-small;
@dropdown-menu-padding-vertical-scale-screen-medium:                            @dropdown-menu-scale-screen-medium;
@dropdown-menu-padding-vertical-scale-screen-large:                             @dropdown-menu-scale-screen-large;

@dropdown-menu-border-radius-scale-screen-mini:                                 @dropdown-menu-scale-screen-mini;
@dropdown-menu-border-radius-scale-screen-small:                                @dropdown-menu-scale-screen-small;
@dropdown-menu-border-radius-scale-screen-medium:                               @dropdown-menu-scale-screen-medium;
@dropdown-menu-border-radius-scale-screen-large:                                @dropdown-menu-scale-screen-large;






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Button (Default)

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@dropdown-menu-default-background-color:                                        @white;
@dropdown-menu-default-background-gradient-color-top:                           none;
@dropdown-menu-default-background-gradient-color-bottom:                        none;
@dropdown-menu-default-border-width:                                            0px;
@dropdown-menu-default-border-color:                                            none;
@dropdown-menu-default-border-top-width:                                        @dropdown-menu-default-border-width;
@dropdown-menu-default-border-top-color:                                        @dropdown-menu-default-border-color;
@dropdown-menu-default-border-right-width:                                      @dropdown-menu-default-border-width;
@dropdown-menu-default-border-right-color:                                      @dropdown-menu-default-border-color;
@dropdown-menu-default-border-bottom-width:                                     @dropdown-menu-default-border-width;
@dropdown-menu-default-border-bottom-color:                                     @dropdown-menu-default-border-color;
@dropdown-menu-default-border-left-width:                                       @dropdown-menu-default-border-width;
@dropdown-menu-default-border-left-color:                                       @dropdown-menu-default-border-color;
@dropdown-menu-default-shadow:                                                  0px 0px 0px 1px rgba(0, 0, 0, 0.1),
                                                                                0px 2px 6px 0px rgba(0, 0, 0, 0.1);
